@font-face {
    font-family: 'Trouble';
    src: url('./fonts/Trouble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  .game-container {
    font-family: 'Trouble', sans-serif;
  }